USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckEmailExists]    Script Date: 22-08-2025 12:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CheckEmailExists]
    @Email NVARCHAR(200)
AS
BEGIN
    SELECT COUNT(*) FROM Users WHERE Email = @Email;
END
