USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateProduct]    Script Date: 22-08-2025 12:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CreateProduct]
    @Name NVARCHAR(200),
    @Description NVARCHAR(1000),
    @Price DECIMAL(18,2),
    @CreatedBy INT
AS
BEGIN
    BEGIN TRY
        IF LTRIM(RTRIM(@Name)) = ''
        BEGIN
            RAISERROR('Product name is required', 16, 1);
            RETURN;
        END

        IF @Price < 0
        BEGIN
            RAISERROR('Product price cannot be negative', 16, 1);
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Users WHERE Id = @CreatedBy AND IsActive = 1)
        BEGIN
            RAISERROR('Invalid user ID', 16, 1);
            RETURN;
        END

        INSERT INTO Products (Name, Description, Price, CreatedBy)
        VALUES (@Name, @Description, @Price, @CreatedBy);

        DECLARE @NewId INT = SCOPE_IDENTITY();
        
        SELECT p.Id, p.Name, p.Description, p.Price, p.CreatedAt, p.CreatedBy
        FROM Products p
        WHERE p.Id = @NewId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
