USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckUsernameExists]    Script Date: 22-08-2025 12:27:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CheckUsernameExists]
    @Username NVARCHAR(100)
AS
BEGIN
    SELECT COUNT(*) FROM Users WHERE Username = @Username;
END
