USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 22-08-2025 12:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetUserById]
    @Id INT
AS
BEGIN
    SELECT Id, Username, Email, PasswordHash, CreatedAt, IsActive
    FROM Users
    WHERE Id = @Id;
END
