USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProduct]    Script Date: 22-08-2025 12:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UpdateProduct]
    @Id INT,
    @Name NVARCHAR(200),
    @Description NVARCHAR(1000),
    @Price DECIMAL(18,2),
    @CreatedBy INT,
    @RowsAffected INT OUTPUT
AS
BEGIN
    BEGIN TRY
        IF LTRIM(RTRIM(@Name)) = ''
        BEGIN
            RAISERROR('Product name is required', 16, 1);
            RETURN;
        END

        IF @Price < 0
        BEGIN
            RAISERROR('Product price cannot be negative', 16, 1);
            RETURN;
        END

        UPDATE Products
        SET Name = @Name,
            Description = @Description,
            Price = @Price
        WHERE Id = @Id AND CreatedBy = @CreatedBy;

        SET @RowsAffected = @@ROWCOUNT;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
