USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 22-08-2025 12:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_RegisterUser]
    @Username NVARCHAR(100),
    @Email NVARCHAR(200),
    @PasswordHash NVARCHAR(255),
    @UserId INT OUTPUT
AS
BEGIN
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
        BEGIN
            RAISERROR('Username already exists', 16, 1);
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
        BEGIN
            RAISERROR('Email already exists', 16, 1);
            RETURN;
        END

        INSERT INTO Users (Username, Email, PasswordHash)
        VALUES (@Username, @Email, @PasswordHash);

        SET @UserId = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
