USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 22-08-2025 12:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN
    SELECT Id, Username, Email, CreatedAt, IsActive
    FROM Users
    ORDER BY CreatedAt DESC;
END
