USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProduct]    Script Date: 22-08-2025 12:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_DeleteProduct]
    @Id INT,
    @CreatedBy INT,
    @RowsAffected INT OUTPUT
AS
BEGIN
    DELETE FROM Products
    WHERE Id = @Id AND CreatedBy = @CreatedBy;

    SET @RowsAffected = @@ROWCOUNT;
END
