USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByUsername]    Script Date: 22-08-2025 12:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetUserByUsername]
    @Username NVARCHAR(100)
AS
BEGIN
    SELECT Id, Username, Email, PasswordHash, CreatedAt, IsActive
    FROM Users
    WHERE Username = @Username AND IsActive = 1;
END
