USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 22-08-2025 12:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UpdateUser]
    @Id INT,
    @Username NVARCHAR(100),
    @Email NVARCHAR(200),
    @IsActive BIT
AS
BEGIN
    UPDATE Users
    SET Username = @Username,
        Email = @Email,
        IsActive = @IsActive
    WHERE Id = @Id;
END
