USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByEmail]    Script Date: 22-08-2025 12:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetUserByEmail]
    @Email NVARCHAR(200)
AS
BEGIN
    SELECT Id, Username, Email, PasswordHash, CreatedAt, IsActive
    FROM Users
    WHERE Email = @Email AND IsActive = 1;
END
