USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductById]    Script Date: 22-08-2025 12:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetProductById]
    @Id INT
AS
BEGIN
    SELECT p.Id, p.Name, p.Description, p.Price, p.CreatedAt, p.CreatedBy,
           u.Username as CreatedByUsername
    FROM Products p
    INNER JOIN Users u ON p.CreatedBy = u.Id
    WHERE p.Id = @Id;
END
