USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllProducts]    Script Date: 22-08-2025 12:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetAllProducts]
AS
BEGIN
    SELECT p.Id, p.Name, p.Description, p.Price, p.CreatedAt, p.CreatedBy,
           u.Username as CreatedByUsername
    FROM Products p
    INNER JOIN Users u ON p.CreatedBy = u.Id
    ORDER BY p.CreatedAt DESC;
END
