USE [DapperTokenDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 22-08-2025 12:28:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_DeleteUser]
    @Id INT
AS
BEGIN
    UPDATE Users SET IsActive = 0 WHERE Id = @Id;
END
